.cell {
  display: block;
  margin: auto;
  text-align: center;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  padding: .25rem 1rem;
  height: 100%;
  width: auto;
}

.invalid {
  color: var(--color-err);
  background-color: rgba(255, 0, 0, .2);
}