.container {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  border-radius: .5rem;
  padding: 1rem 2rem;
}

.header {
  margin: 0;
  padding: 0 1rem .5rem;
  text-align: left;
}

.table {
  background-color: var(--color-bg-1);
  color: var(--color-text-1);
  border-collapse: collapse;
  padding: 0;
  overflow: hidden;

}

.thead {
  background-color: var(--color-text-1);
  color: var(--color-bg-1);
  font-size: larger;
  th {
    padding: .5rem 1rem;
    text-align: left;
  }
}

.row {
  border-bottom: solid 1px var(--color-text-1);;
  td {
    padding: .25rem 1rem;
    text-align: left;
  }
}

.row:last-of-type {
  border-bottom: none;
  td {
    padding-bottom: .5rem;
  }
}

.row:hover {
  cursor: pointer;
  background-color: var(--color-bg-2);
  color: var(--color-text-2);
}