:root {
  --color-text-1: #495057;
  --color-text-2: #212529;
  --color-text-3: #ADB5BD;
  --color-bg-1: #F8F9FA;
  --color-bg-2: #DEE2E6;
  --color-bg-3: #CED4DA;
  --color-err: #FF0000;
  
  
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-text-1);
  background-color: var(--color-bg-2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
